<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Clubs Board | GUDLFT </title>
</head>
<body>
        
    <h2>List of clubs and their available points:</h3>
    <table>
        <tr>
            <th class="header">Name</th>
            <th class="header">Points available</th>
        </tr>
        {% for c in clubs %}
        <tr>
            <td>{{c["name"]}}</td>
            <td>{{c["points"]}}</td>
        </tr>
        {% endfor %}
    </table>
        

        

</body>
</html>